.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

target
**/*.rs.bk
Cargo.lock
bin/
# We have to explicitly allow the /pkg route to be included
# with our GitHub repo, because npm imports from here. You could
# also move the compiled pkg files somewhere within the web project itself.
# pkg/
wasm-pack.log
